STRINGTABLE 
{
 909, "Ophalen update bestand : "
 910, "Ophalen update bestanden ?"
 911, "Afsluiten toepassing om update uit te voeren ?"
 912, "Identiek bron en doel bestand : %s"
 913, "Bestand niet gevonden : %s"
 914, "Bron bestand lengte is 0 : %s"
 915, "Ophalen : %s"
 916, "Http status : %s"
 917, "Bestand niet gevonden : %s"
 918, "Controleren internet verbinding"
 919, "Bevestiging openen nieuwe internet verbinding"
 920, "Openen internet verbinding"
 921, "Internet verbinding gevonden"
 922, "Internet verbinding kan niet geopend worden"
 923, "Verbinden met host : %s"
 924, "Kan niet verbinden met FTP host : %s"
 925, "Update controle bestand niet gevonden"
 926, "Update controle bestand gevonden"
 927, "Ongeldige signature in update controle bestand"
 928, "Datum gebaseerde update gevonden"
 929, "Nieuwe versie gevonden : %s"
 930, "Geen nieuwe versie gevonden"
 931, "Checksum gebaseerde update gevonden"
 932, "File size gebaseerde update gevonden"
 933, "Versie gebaseerde update gevonden"
 934, "Bericht instructie gevonden"
 935, "HTML bericht instructie gevonden"
 936, "Opvraag instructie gevonden"
 937, "Whatsnew instructie gevonden"
 938, "Whatsnew condities niet geaccepteerd"
 939, "Licentie overeenkomst instructie gevonden"
 940, "Licentie overeenkomst niet geaccepteerd"
 941, "URL omleiding instructie gevonden"
 942, "URL melding instructie gevonden"
 943, "Update bestand instructie gevonden"
 944, "Versie controle : %s"
 945, "Ophalen update : %s"
 946, "Bestand kan niet opgehaald worden : %s"
 947, "Fout bij uitpakken CAB bestand : %s"
 948, "Uitvoeren update controle bestand uitgevoerd"
 949, "Internet verbinding afgesloten"
 950, "Kan update process niet starten : %s"
 951, "Verbinding met server voor post kan niet gemaakt worden"
 952, "Post actie kan niet gevonden worden"
 953, "Dialup mislukt"
 954, "FTP verbinding gesloten" 
 955, "Dialup gedisconnecteerd"
 956, "Authenticatie geweigerd"
 957, "Authenticatie gefaald"
 958, "Spawn %s"
 959, "Herstarten applicatie in folder : %s"
 960, "Threaded update uitvoering gedaan"
 961, "Herstarten na threaded update"
 962, "Toepassing component gevonden : %s"
 963, "Start WebUpdate process met versie : %s"
 964, "WebUpdate process afgesloten"
 965, "Uitpakken CAB bestand : %s"
 966, "OS versie : %s"
 967, "IE versie : %s"
 968, "Start update : %s ---------------------------"
 969, "Compiler : %s"
 970, "Geinstalleerde IDEs : %s"
 971, "Uitvoeren bestand : %s"
}

