STRINGTABLE 
{
 909, "Download update file : "
 910, "Download update files ?"
 911, "Shutdown application to update executable files ?"
 912, "Equal source and target files : %s"
 913, "File not found : %s"
 914, "Zero length source file : %s"
 915, "Download : %s"
 916, "Http status : %s"
 917, "File not found : %s"
 918, "Checking for Internet connection"
 919, "Prompt to open new Internet connection"
 920, "Opening Internet connection"
 921, "Found open Internet connection"
 922, "Cannot open Internet connection"
 923, "Connect to host : %s"
 924, "Cannot connect to FTP host : %s"
 925, "Update control file not found"
 926, "Update control file found"
 927, "Invalid signature in update control file"
 928, "Date based update found"
 929, "New version found : %s"
 930, "No new version found"
 931, "Checksum based update found"
 932, "File size based update found"
 933, "Version based update found"
 934, "Found message instruction"
 935, "Found HTML dialog instruction"
 936, "Found query instruction"
 937, "Found whatsnew instruction"
 938, "Whatsnew not accepted"
 939, "Found license agreement instruction"
 940, "License agreement not accepted"
 941, "Found URL redirection instruction"
 942, "Found URL show instruction"
 943, "Found file update instruction"
 944, "Version check : %s"
 945, "Download update : %s"
 946, "Cannot download update file : %s"
 947, "Error decompressing CAB file : %s"
 948, "Finished processing update control file"
 949, "Closed Internet connection"
 950, "Failed to spawn updater process : %s"
 951, "Cannot connect to server for post"
 952, "Cannot access resource for post"
 953, "Dialup failed"
 954, "Closed FTP connection" 
 955, "Disconnect dialup"
 956, "Authentication cancelled"
 957, "Authentication failed"
 958, "Spawn %s"
 959, "Restart app in directory : %s"
 960, "Threaded update execution done"
 961, "Restart after threaded update"
 962, "Found application component : %s"
 963, "Start WebUpdate process with version : %s"
 964, "WebUpdate process cancelled"
 965, "Extract CAB file : %s"
 966, "OS version : %s"
 967, "IE version : %s"
 968, "Start update : %s ---------------------------"
 969, "Compiler : %s"
 970, "Installed IDEs : %s"
 971, "Processing file : %s"
 972, "Cannot delete file : %s"
 973, "Cannot rename file : %s"
 974, "Change FTP directory to : %s"
 975, "Cannot change FTP directory to : %s"
 976, "System error : %s"
 977, "Downloading : %s"
 978, "Downloading..."
}

