STRINGTABLE
{
 909, "Aktualisierung wird heruntergeladen: "
 910, "Aktualisierung herunterladen?"
 911, "Soll die Anwendung jetzt geschlossen werden um die Aktualisierung abzuschließen?"
 912, "Quell- und Zieldatei sind gleich: %s"
 913, "Datei nicht gefunden: %s"
 914, "Quelldatei hat Länge Null: %s"
 915, "Download: %s"
 916, "Http Status: %s"
 917, "Datei nicht gefunden: %s"
 918, "Prüfe Internet-Verbindung"
 919, "Bestätigen Sie das Öffnen einer neuen Internet-Verbindung"
 920, "Öffne Internet-Verbindung"
 921, "Offene Internet-Verbindung gefunden"
 922, "Kann Internet-Verbindung nicht öffnen"
 923, "Verbinden zum Host : %s"
 924, "Keine Verbindung mit FTP Host : %s"
 925, "Update-Kontrolldatei nicht gefunden"
 926, "Update-Kontrolldatei gefunden"
 927, "Ungültige Signatur in der Update-Kontrolldatei"
 928, "Datumsbasiertes Update gefunden"
 929, "Neue Version gefunden: %s"
 930, "Keine neue Version gefunden"
 931, "Prüfsummenbasiertes Update gefunden"
 932, "Dateigrößenbasiertes Update gefunden"
 933, "Versionsbasiertes Update gefunden"
 934, "Hinweis gefunden"
 935, "HTML Hinweis gefunden"
 936, "Rückfragehinweis gefunden"
 937, "Neuigkeiten - Hinweis gefunden"
 938, "Neuigkeiten nicht akzeptiert"
 939, "Lizenzvereinbarung gefunden"
 940, "Lizenzvereinbarung nicht akzeptiert"
 941, "Anweisung zur URL-Umleitung gefunden"
 942, "Anweisung zum Anzeigen der URL gefunden"
 943, "Anweisung für Datei-Update gefunden"
 944, "Versionskontrolle : %s"
 945, "Update herunterladen: %s"
 946, "Update-Datei kann nicht heruntergeladen werden: %s"
 947, "Fehler beim Entpacken des CAB-Archivs : %s"
 948, "Bearbeiten der Update-Kontrolldatei fertig"
 949, "Internetverbindung geschlossen"
 950, "Failed to spawn updater process : %s"
 951, "Fehler bei Serververbindung für post"
 952, "Zugriff auf Ressource beim post nicht möglich"
 953, "Anwahl gescheitert"
 954, "FTP-Verbindung geschlossen"
 955, "Anwahlverbindung trennen"
 956, "Authentifizierung abgebrochen"
 957, "Authentifizierung gescheitert"
 958, "Spawn %s"
 959, "Anwendung in Verzeichnis neu starten: %s"
 960, "Threadbasiertes Update fertig"
 961, "Neustart nach threadbasiertem Update"
 962, "Anwendungskomponente gefunden: %s"
 963, "Starte WebUpdate mit Version: %s"
 964, "WebUpdate abgebrochen"
 965, "CAB-Archiv extrahieren: %s"
 966, "OS Version: %s"
 967, "IE Version: %s"
 968, "Start Update: %s ---------------------------"
 969, "Compiler: %s"
 970, "Installierte IDEs: %s"
 971, "Datei bearbeiten: %s"
 972, "Fehler bei löschen Datei : %s"
 973, "Fehler bei umbenennen Datei : %s"
 974, "Ändern FTP Verzeichnis zu : %s"
 975, "Fehler bei ändern FTP Verzeichnis zu : %s"
 976, "System error : %s"
 977, "Herunterladen : %s"
 978, "Herunterladen"
}
}

