LANGUAGE 0, 0
DXRICHEDITCONTROLBEGINROTATE CURSOR "BeginRotate.cur"
DXRICHEDITCONTROLIBEAMITALIC  CURSOR "IBeamItalic.cur"
DXRICHEDITCONTROLRESIZECOLUMN CURSOR "ResizeColumn.cur"
DXRICHEDITCONTROLRESIZEROW CURSOR "ResizeRow.cur" 
DXRICHEDITCONTROLREVERSEARROW CURSOR "ReverseArrow.cur" 
DXRICHEDITCONTROLROTATE CURSOR "Rotate.cur" 
DXRICHEDITCONTROLSELECTCOLUMN CURSOR "SelectColumn.cur" 
DXRICHEDITCONTROLSELECTTABLECELL CURSOR "SelectTableCell.cur" 
